@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>
<ul class="gig voffset4">
    @foreach (var gig in Model.UpcomingGigs)
    {
         <li>
             <div class="date">
                <div class="month">
                    @gig.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @gig.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist">
                    @gig.Artist.Name
                </span>
                <span class="genre">
                    @gig.Genre.Name
                </span>
                @if (Model.ShowActions)
                {
                    <button
                        class="btn btn-default btn-sm pull-right js-toggle-attendance"
                        data-gig-id="@gig.Id"
                    >
                        Going ?
                    </button>
                }
                @if (Model.ShowActions)
                {
                    <button 
                        class="btn btn-default btn-sm pull-right js-toggle-follow"
                        data-followee-id="@gig.ArtistId"
                    >   
                        Follow ?
                    </button>
                }
                          
            </div>
        </li>
    }

</ul>

@section scripts
{
    <script>
        $(document).ready(() => {
            $(".js-toggle-attendance")
                .click(e => {
                    var button = $(e.target);
                    $.post("/api/attendances", {GigId: button.attr("data-gig-id")})
                        .done(() => {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(() => {
                            alert("Something Failed!");
                        });
                });

            $(".js-toggle-follow").click(e => {
                var button = $(e.target);
                $.post("/api/followings", { FolloweeId: button.attr("data-followee-id") })
                    .done(() => {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Following");
                    })
                    .fail(() => {
                        alert("Something Failed!");
                    });
            });
        });


    </script>
}